{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-light mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Instructions</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>What you will need:</h3>
            <ul>
                <li>[CORE] Minimum 1kg cut of meat
                    <ul>
                        <li><small><em>Topside cut of beef is preferred (extra fat for flavour), however, Silverside is
                                    just as suitable.</em></small></li>
                    </ul>
                </li>
                <li>[CORE] Very sharp and durable, high-quality chef's knife
                    <ul>
                        <li><small><em>The better quality the blade, the cleaner and easier it is to cut the meat into
                                    strips.</em></small></li>
                    </ul>
                </li>
                <li>[CORE] Vinegar
                    <ul>
                        <li><small><em>Malt vinegar. Balsamic and other vinegars can be used based on
                                    preference.</em></small></li>
                    </ul>
                </li>
                <li>[CORE] Spices
                    <ul>
                        <li><small><em>Salt, pepper, and coriander.</em></small></li>
                    </ul>
                </li>
                <li>[OPTIONAL] Spices
                    <ul>
                        <li><small><em>Bicarbonate soda to help
                                    soften the meat.white or brown sugar, dried garlic, paprika and chili
                                    flakes.</em></small></li>
                        <li><small><em>Bicarbonate soda to help soften the meat.
                                    flakes.</em></small></li>
                        <li><small><em>White or brown sugar.</em></small></li>
                        <li><small><em>Dried garlic.</em></small></li>
                        <li><small><em>Paprika.</em></small></li>
                        <li><small><em>Chilli flakes.</em></small></li>
                    </ul>
                </li>
                <li>[CORE] Meat drying equipment
                    <ul>
                        <li><small><em>[MODERN] Electric food dehydrator. Very efficient, gives great
                                    results.</em></small></li>
                        <li><small><em>[TRADITIONAL] Wooden box with air holes, light-bulb (heat source), and small fan
                                    (air movement).</em></small></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Steps:</h3>
            <ul>
                <li>Cut the meat into strips parallel to the long side of the meat.
                    <ul>
                        <li><small><em>Finger-width of your index finger.</em></small></li>
                    </ul>
                </li>
                <li>Lay the meat in a deep dish or large bowl and liberally pour the vinegar over the meat.
                    <ul>
                        <li><small><em>Using clean hands, massage the meat with vinegar and ensure the vinegar covers
                                    the entire surface area of all the strips.</em></small></li>
                        <li><small><em>Leave some residual vinegar in the bowl for the meat to soak in.</em></small>
                        </li>
                    </ul>
                </li>
                <li>Using a spoon sprinkle your spice mix over the meat.
                    <ul>
                        <li><small><em>Using clean hands, massage the meat with the spices and ensure the spice covers
                                    the entire surface area of all the strips.</em></small></li>
                    </ul>
                </li>
                <li>Cover the dish or large bowl with cling-wrap and leave in cold storage for 24 hours.
                    <ul>
                        <li><small><em>Using clean hands, rotate and massage the meat every few hours.</em></small></li>
                    </ul>
                </li>
                <li>Pull the strips of meat out the bowl and carefully position them in the dehydrator or drying box.
                    <ul>
                        <li><small><em>Be sure to leave space enough for air to pass easily over the meat.</em></small>
                        </li>
                    </ul>
                </li>
                <li>Wait... patiently... for about 4 to 6 days.
                    <ul>
                        <li><small><em>You will notice the outer sides of the meat will go dark black - this is
                                    normal.</em></small></li>
                        <li><small><em>The fat will turn a deep brown-yellow - if good meat was used, it will be a rich
                                    colour and smell AMAZING.</em></small></li>
                        <li><small><em>During waking hours, every 3-4 hours, rotate the meat around to ensure uniform
                                    drying.</em></small></li>
                        <li><small><em>Feel the dry meat cuts after about 3 days, and every day after. They should start
                                    to become firm.</em></small></li>
                        <li><small><em>Based on preference, leave to dry hard (similar to well-done) or leave some
                                    softness for wetter biltong (similar to medium rare).</em></small></li>
                    </ul>
                </li>
                <li>Slice the biltong. ENJOY!</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'products' %}" class="btn-custom-yellow btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
