{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-light mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Recipes ({{ recipes.count }})</h2>
            <hr>
        </div>
    </div>
    {% for recipe in recipes %}
    <div class="row">
        <div class="col">
            <h3>{{ recipe.name }} Recipe</h3>
            <p>{{ recipe.summary }}</p>
            <h4>What you will need:</h4>
            <ul>
                {% for requirement in recipe.requirements_as_list %}
                <li>
                    {{ requirement }}
                </li>
                {% endfor %}
            </ul>
            <h4>Steps:</h4>
            <ul>
                {% for step in recipe.steps_as_list %}
                <li>
                    {{ step }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <small class="ml-3">
        <a href="{% url 'edit_recipe' recipe.id %}">Edit</a> |
        <a class="text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
    </small>
    {% endif %}
    <hr>
    {% endfor %}
    <div class="row">
        <div class="col">
            <a href="{% url 'products' %}" class="btn-custom-yellow btn rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <a class="btn btn-custom-yellow rounded-0" href="{% url 'add_recipe' %}">Add recipe</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}