<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="spices-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spices
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spices-link">
                <a class="dropdown-item" href="#">Core / Basic</a>
                <a class="dropdown-item" href="#">Optional Extras</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#" id="equipment-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a class="dropdown-item" href="#">Traditional</a>
                <a class="dropdown-item" href="#">Modern</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="#">Instructions</a>
        </li>
    </ul>
</div>